proxmox_endpoint = "https://TON_IP_PROXMOX:8006"
proxmox_username = "root@pam"
proxmox_password = "TON_MOT_DE_PASSE"
proxmox_node     = "vm4"
storage_pool     = "local-lvm"

pfsense_iso = "local:iso/pfSense-CE-2.7.2-RELEASE-amd64.iso"
ubuntu_iso  = "local:iso/ubuntu-22.04-live-server-amd64.iso"
