[defaults]
inventory          = inventory/
host_key_checking  = False
stdout_callback    = default
result_format      = yaml
interpreter_python = auto_silent
roles_path         = roles/

[ssh_connection]
pipelining = True
